In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('TRUEHEADINGs.xlsx')

In [4]:
data.head()

                       V1  V2      V3     V4 V5     V6 V7   V8
0 2017-07-06 06:37:15.370   1  $GPVTG  323.1  T  323.4  M  0.8
1 2017-07-06 06:37:16.390   1  $GPVTG  323.1  T  323.4  M  0.8
2 2017-07-06 06:37:17.370   1  $GPVTG  322.5  T  322.8  M  0.7
3 2017-07-06 06:37:18.390   1  $GPVTG  322.5  T  322.8  M  0.7
4 2017-07-06 06:37:19.370   1  $GPVTG  322.4  T  322.7  M  0.7

In [22]:
newdata = data[['V1','V4']]

In [25]:
newdata.head()

                       V1     V4
0 2017-07-06 06:37:15.370  323.1
1 2017-07-06 06:37:16.390  323.1
2 2017-07-06 06:37:17.370  322.5
3 2017-07-06 06:37:18.390  322.5
4 2017-07-06 06:37:19.370  322.4

In [27]:
newdata.head(500)

                         V1     V4
0   2017-07-06 06:37:15.370  323.1
1   2017-07-06 06:37:16.390  323.1
2   2017-07-06 06:37:17.370  322.5
3   2017-07-06 06:37:18.390  322.5
4   2017-07-06 06:37:19.370  322.4
5   2017-07-06 06:37:20.390  322.4
6   2017-07-06 06:37:21.370  322.3
7   2017-07-06 06:37:22.390  322.3
8   2017-07-06 06:37:23.370  322.4
9   2017-07-06 06:37:24.390  322.4
10  2017-07-06 06:37:25.370  322.8
11  2017-07-06 06:37:26.390  322.8
12  2017-07-06 06:37:27.370  323.1
13  2017-07-06 06:37:28.390  323.1
14  2017-07-06 06:37:29.370  323.0
15  2017-07-06 06:37:30.390  323.0
16  2017-07-06 06:37:31.370  323.0
17  2017-07-06 06:37:32.390  323.0
18  2017-07-06 06:37:33.370  322.7
19  2017-07-06 06:37:34.390  322.7
20  2017-07-06 06:37:35.370  322.6
21  2017-07-06 06:37:36.390  322.6
22  2017-07-06 06:37:37.370  322.3
23  2017-07-06 06:37:38.390  322.3
24  2017-07-06 06:37:39.370  322.0
25  2017-07-06 06:37:40.390  322.0
26  2017-07-06 06:37:41.370  322.0
27  2017-07-06 06:37:42.390  322.0
28  2017-07-06 06:37:43.370  322.1
29  2017-07-06 06:37:44.390  322.1
..                      ...    ...
470 2017-07-06 06:45:05.360  173.8
471 2017-07-06 06:45:06.380  173.8
472 2017-07-06 06:45:07.360  174.4
473 2017-07-06 06:45:08.380  174.4
474 2017-07-06 06:45:09.360  175.0
475 2017-07-06 06:45:10.380  175.0
476 2017-07-06 06:45:11.360  175.5
477 2017-07-06 06:45:12.380  175.5
478 2017-07-06 06:45:13.369  175.5
479 2017-07-06 06:45:14.380  175.5
480 2017-07-06 06:45:15.360  176.5
481 2017-07-06 06:45:16.380  176.5
482 2017-07-06 06:45:17.360  176.6
483 2017-07-06 06:45:18.380  176.6
484 2017-07-06 06:45:19.360  177.3
485 2017-07-06 06:45:20.380  177.3
486 2017-07-06 06:45:21.360  177.7
487 2017-07-06 06:45:22.380  177.7
488 2017-07-06 06:45:23.360  177.9
489 2017-07-06 06:45:24.380  177.9
490 2017-07-06 06:45:25.360  178.4
491 2017-07-06 06:45:26.380  178.4
492 2017-07-06 06:45:27.360  179.4
493 2017-07-06 06:45:28.380  179.4
494 2017-07-06 06:45:29.360  179.7
495 2017-07-06 06:45:30.381  179.7
496 2017-07-06 06:45:31.374  180.4
497 2017-07-06 06:45:32.380  180.4
498 2017-07-06 06:45:33.360  180.6
499 2017-07-06 06:45:34.380  180.6

[500 rows x 2 columns]